body {
  background-image: url("Fundo.png");
}



header{
  background-image: url("Rodape.png");
  background-size: contain ;
  height: 80px;
}

.caixa{
  width: 940px;
  position: relative;
  margin: 0 auto;
}

.imgcat:hover{
  filter: drop-shadow( 2px 2px 2px purple );
  transform: translate(-2px, -2px);
  transition: 0.5s ease-in-out;
}

header img{
  width: 100px;
}
header a{
  text-decoration: none;
  color:white;
  font-size: 20px;
  font-family: Arial;
  float: right;
  padding: 25px;
}
a:hover {
    color:purple;
}

main img{
    width: 100px;
    display: inline-block;
    padding: 20px;
}

#FtDireita{
  position: absolute;
  top:130px;
  right:280px;
  width: 280px;
}
#ImgCentro{
  position: absolute;
  top:210px;
  left:607px;
  width: 130px;
}
#FtEsquerda{
 
  position: absolute;
  top:130px;
  left:300px;
  width: 280px;
} 




.tabDireita{
    text-decoration: none;
    float: right;
}

.btnPessoa{
  border:none;
  background: transparent;
}

li{
  list-style-type: none;
}

.btnPessoa:hover img{
  filter: drop-shadow( 3px 3px 3px purple );
  transform: translate(-3px, -3px);
  transition: 0.5s ease-in-out;
}

.btnPessoa:focus{
  outline: none;
}

.Personagem{
  position: absolute;
  left: 170px;
  top:420px
}

.AvancaBtn{
  position: absolute;
  width: 20px;
  top:540px;
  right: 210px;
}
.Blackbox{
  background-color: black;
  height: 350px;
  width: 780px;
  position: absolute;
  top: 110px;
  left: 300px;
  border-color: blueviolet;
  border-style: groove;
  z-index: -1;
  border-radius: 20px;
  
}

.caixatexto{
  position: absolute;
  width: 200px;
  height: 200px;
  color: blue;
  top:200px;
  left:200px;
}

.fala{
  background-size: contain ;
  height: 120px;
  width: 900px;
  position: absolute;
  top:480px; 
  left:220px;
}