*{margin : 0 ; padding: 0}
body {
  background-image: url("Fundo.png");
}
header{
  background-image: url("Rodape.png");
  background-size: contain ;
  height: 80px;
}

.imgcat:hover{
  filter: drop-shadow( 3px 3px 3px purple );
  transform: translate(-3px, -3px);
  transition: 0.5s ease-in-out;
}

header img{
  width: 100px;
}
header a{
    text-decoration: none;
    color:white;
    font-size: 20px;
    font-family: Arial;
    float: right;
    padding: 25px;
}
a:hover {
    color:purple;
  }

main img{
    width: 100px;
  
}

.btnPessoa{
  border:none;
  background: transparent;
  cursor: pointer;
}

.btnPessoa:hover img{
  filter: drop-shadow( 3px 3px 3px purple );
  transform: translate(-3px, -3px);
  transition: 0.5s ease-in-out;
}

li{
  list-style-type: none;

}

.btnPessoa:focus, #BtnAvanca:focus{
  outline: none;
}

.Personagem{
 
}

.AvancaBtn{
  width: 20px;
}
.Blackbox{
  background-color: black;
  height: 360px;
  width: 70%;
  border-color: blueviolet;
  border-style: groove;
}

.caixatexto{
  width: 70%;
  height: 110px;
  background-color: rgb(64, 148, 185);
  border-radius: 10px;
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  box-sizing: border-box;
  margin-left: 30px;
  margin-right:30px;
  margin-top: 5px;
}
.caixatexto .conteudo{
  flex-grow: 1;
}
.caixatexto::before{
  content: '';
  position: absolute;
  left: 40px;
  width: 100px;
  height: 20px;
  top: -10px;
  border-radius: 8px;
  background-color: #4094b9;
  display: block;
}
.caixatexto .Personagem{
  left: -50px;
  top: -50px;
  position: absolute;
}
.caixatexto #BtnAvanca{
  background: transparent;
  outline:none;
  border:none;
  cursor: pointer;
}

.fala{
  background-size: contain ;
  height: 120px;
  width: 900px;
 }

 main{
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;  
  align-items: center;
  width: 100%;
  margin-top: 30px;

 }
 
 #FtEsquerda{
  margin-left: 4.2%;
  margin-top: 3.5%;
  width: 32%;
} 
#ImgCentro{
  position: absolute;
  margin-left: 5%;
  margin-top: 8.5%;
  width: 10%;
}
#FtDireita{
  width: 32%;
  margin-left: 27%;
}



li{
  margin-bottom: 10px;
}
.caixa{
  width: 70%;
  position: relative;
  margin: 0 auto;
  height: 86px;
  display:flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

#falas{
  color:white;
  font-size: 30px;
  margin-left: 20px;
  font-family: cursive;
  text-shadow: 0.08em 0.08em #176a8d;
}
.video{
  background-color: rgba(138, 44, 226, 0.5); 
  text-align: center;

}
iframe{
  text-align: center;
  padding: 20px;
}

h2{
  padding: 60px;
  text-align: center;
  color: white;
  font-family: cursive;
  text-shadow: 0.08em 0.08em #176a8d;
}

.btnPessoa2{
  width: 20%;
  border:none;
  background: transparent;
  cursor: pointer;
}

.btnPessoa2:hover img{
  filter: drop-shadow( 3px 3px 3px blue );
  transform: translate(-3px, -3px);
  transition: 0.5s ease-in-out;
}
.btnPessoa2:focus, #BtnAvanca:focus{
  outline: none;
}